<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>

    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div th:replace="fragments/header :: ${session.user}? headerOn : header"></div>

    <div th:if="${#vars['error'] != null}" th:text="${#vars['message']}" class="alert alert-danger" role="alert"></div>

    <div class="container">
        <div class="jumbotron">

            <div class="row">
                <div class="col-xs-4 col-2">
                    <img src="../img/placeholder200.png"/>
                </div>
                <div class="col-xs-4 col-2">
                    <p th:text="${article.name}"></p>
                    <p th:text="${article.licensor}"></p>

                    <div class="col-12">
                        <h4 class="page-header">Opcion: Compra a traves de una Suscripcion</h4>
                        <p>Precio mensual: S/15</p>
                        <a th:if="${session.user == null or !session.user.isHasSubscrition()}" class="btn btn-primary" th:href="@{/purchase/{id}(id=${article.id})}">Comprar</a>
                        <a th:if="${session.user!= null and session.user.isHasSubscrition()}" class="btn btn-primary" href="#">Descargar</a>
                    </div>
                </div>
                <div class="col-xs-4 col-2">
                    <p th:text="${article.description}"></p>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>