<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Admin</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/suscripcionAdmin">Suscripciones</a></li>
                <li><a href="/articuloAdmin">Articulos</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control" style="width:100px;">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" style="width:100px;">
                </div>
                <!--<button type="submit" class="btn btn-success">Sign in</button>-->
                <a  class="btn btn-success" href="#">Sign in</a>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>