<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div th:replace="fragments/header :: ${session.user}? headerOn : header"></div>

    <div class="container">
        <div class="jumbotron">
            <h2>Felicidades su compra ha sido realizada con exito. Puede realizar su descarga</h2>


            <a class="btn btn-primary" th:href="${apk}" target="_blank" > Descargar </a>
        </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>