<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{{>navadmin}}

<div class="container">
        <h2>Suscripciones</h2>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Suscripcion</th>
                <th>Usuario</th>
                <th>Estado</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Basica</td>
                <td>Retamoso</td>
                <td>Activa</td>
                <td><a href="#">Cancelar</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Basica</td>
                <td>Otto</td>
                <td>Inactiva</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Basica</td>
                <td>Gutierrez</td>
                <td>Activar</td>
                <td><a href="#">Cancelar</a></td>

            <tr>
                <th scope="row">4</th>
                <td>Basica</td>
                <td>Zambrano</td>
                <td>Inactiva</td>
                <td></td>
            </tr>
        <div>
        </div>
            <script src="../js/jquery.js"></script>
            <script src="../js/bootstrap.min.js"></script>
</body>
</html>